<% content_for :title, "Local Poll" %>


<article>
  <header><h1>Local Poll</h1></header>

  <ol>
    <li>Find out who's standing in your local constituency</li>
    <li>Vote in our unscientific poll</li>
    <li>See the poll results for your area</li>
  </ol>

  <p class="call-to-action">Look up your constituency by post code:</p>

  <%= form_tag post_codes_path, :method => :get, :class => "post-code-lookup" do %>
    <%= text_field_tag :postcode, nil, :placeholder => "ZZ9 ZZA", :class => "post-code", :maxlength => 10 %>
    <%= submit_tag "Go" %>
  <% end %>

</article>