body {background-color: #444; color: #EEE;}
* {border-color: black;}
.site-name {color: #123; background-color: #DEF;}

article {background-color: #EEE; color: #222;}

.call-to-action {color: #D00;}

.action-button {background-color: #FDD; color: #033;}