.site-name {text-align: center;}

.call-to-action {text-align: center;}

article header {text-align: center;}

.action-button {text-align: center;}

.or {text-align: center;}

.alternative-action {text-align: center;}